.footer__img
{
  max-width: 70px;
  padding: 10px;
}
.copyright
{
  color: white;
  text-align: right;
  padding: 40px 0;
  opacity: 0.7;
}
@media only screen and (max-width: 425)
{
  span.copyright
  {
    font-size: 13px;
  }
  .footer.d__flex.align__item__center.justify__content__space__between.pz__10
  {
    flex-wrap: wrap;
  }  
}